<div class="circle" [ngClass]="{ disabled: !enabled }">
  <div class="mid-circle">
    <div class="wrapper">
      <div
        class="quarter top-left"
        [ngClass]="{ 'lighten-red': activeCell == 1 }"
        (click)="onColorClick(1)"
        id="1"
      ></div>
      <div class="line-vertical"></div>
      <div
        class="quarter top-right"
        [ngClass]="{ 'lighten-green': activeCell == 2 }"
        (click)="onColorClick(2)"
        id="2"
      ></div>
    </div>
    <div class="line-horizontal"></div>
    <div class="wrapper">
      <div
        class="quarter bottom-left"
        [ngClass]="{ 'lighten-yellow': activeCell == 4 }"
        (click)="onColorClick(4)"
        id="4"
      ></div>
      <div class="line-vertical"></div>
      <div
        class="quarter bottom-right"
        [ngClass]="{ 'lighten-blue': activeCell == 3 }"
        (click)="onColorClick(3)"
        id="3"
      ></div>
    </div>
  </div>
</div>
